.events {
  background-color: #0e0e0e;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  min-height: 210px;

  @media (min-width: 1052px) {
    width: 930px;
  }
}
