@import url(./header.css);

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  text-align: center;
  text-rendering: optimizeSpeed;
  font: 14px/17px 'Montserrat', sans-serif;
}
h1{
  margin: 0px;
}
img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background: #5a6f70;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #dc56c5;
}
::-webkit-scrollbar-track {
	background: #5a6f70;
	border-radius: 10px;
	box-shadow: inset 7px 10px 12px #323b3b;
}
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
}
.item {
  width: 194px;
  height: 312px;
}

.modal__back-drop.hidden {
  display: none;
}
.modal__back-drop {
  width: 100%;
  height: 100vh;
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__window {
  width: 930px;
  background-color: #fff2fd;
  padding: 0px;
  height: auto;
  border-radius: 300px 0px;
}
.modal__close-btn-container {
  display: flex;
  justify-content: right;
}
.modal__close-btn {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.modal__close-btn-icon {
  position: relative;
  cursor: pointer;
}
.modal__close-btn-icon:last-child {
  top: -100%;
}
.modal__icon {
  display: flex;
  justify-content: center;
}
.modal__icon img {
  border-radius: 50%;
  object-fit: cover;
  width: 144px;
  height: 144px;
}
.modal__main-info {
  display: flex;
  justify-content: start;
  width: 100%;
}
.modal__main-info img {
  object-fit: cover;
  width: 360px;
}
.modal__main-info h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #dc56c5;
}
.main-info-list {
  list-style: none;
}
.buyTicketsBtn {
  width: 145px;
  padding: 2px;
  background-color: rgba(76, 0, 254, 1);
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
}
.buyTicketsBtn:hover {
  color: #ffffff;
  text-decoration: none;
}
.modal__more-btn {
  display: flex;
  justify-content: center;
}
.authorInfoBtn {
  width: 255px;
  margin: 45px;
  padding: 8px;
  border: 1px solid #4c00fe;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4c00fe;
}
.authorInfoBtn:hover {
  color: #4c00fe;
  text-decoration: none;
}
