*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 194px;
  height: 312px;
}

.modal__back-drop.hidden {
  display: none;
}
.modal__back-drop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__window {
  width: 930px;
  height: 1023px;
  background-color: #fff;
}
