/* .hero_overlay {
  background: rgba(11,11,11,0.5);
  height: 100%;  
} */
/* .overlay-between-sections{
    background: linear-gradient(180deg,rgba(13,13,13,0.19),rgba(14,14,14,0.8));
    position: relative;
    width: 100%!important;
    height: 102px;
    top: -70px;
} */
/* .logo {
	position: absolute;
	width: 107px;
	height: 90px; 
   
	border-bottom-right-radius: 100%;
	backdrop-filter: blur(30px);
   }  */

/* .logo__img {
	width: 60px;
	height: 30px;
} */
/* .logo_link{
    cursor: pointer;
    display: inline-block;
}  */

/* .hero {
	
	background-repeat: no-repeat;
	background-position: center;
    background-image: url(../images/backMobile@1x.png);
   
    } */

    
 /* .hero_title {
	
        margin: 0 auto;
        padding: 78px 0 25px;
        text-align: center;
        
    } */
   
/* .container_header {
        
     width: 100%;
     height: auto;
     margin: 0 auto;
     padding: 0 25px;
        
    } */
    /* @media screen   and (max-width:767px) {
        .logo{
            
            padding-top: 20px;
            margin-left: -10px;
            background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
        }
        .logo_img{
          
                width: 60px;
                height: 30px;
            
        } */
        /* .hero { 
            width: 100%;
            height: 300px;
            background-image: url(../images/backMobile@1x.png);
           
        }
        .hero_title {
    
            width: 212px;
            margin: 0 auto;  
            padding: 78px 0  25px;
            font-family: inherit;
            font-weight: 900;
            line-height: 40px; 
            text-align: center; 
            
            color: #DC56C5;
            font-size: 18px;
            font-weight: 900;
        
            line-height: 22px;
            
            }
            .hero__overlay {
                background:rgba(11, 11, 11, 0.5);
                margin: 0 auto;
                height: 100%;
            }
            .container_header {
                width: 100%;
                height: auto;
                margin: 0 auto;
                padding: 0 25px;
            }
            .overlay-between-sections{
                background: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);
                 height: 102px; 
                 width: 320px; 
                margin-top: 262px; 
            }                  
    } */
	/* @media screen  and (min-width: 768px) and (max-width:1279px) {
        .logo{
            width: 180px;
            height: 149px;
            padding-top: 40px;
            margin-left: -10px;
            background: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
        }
        .logo_img{
            width: 100px;
            height: 50px;
            }
        .hero { 
                width: 100%;
                height: 364px;
                background-image: url(../images/backTable@1x.png);
                background-size: 100%;
             }
           
            .hero_title {
    
                width: 353px;
                margin: 0 auto; 
                padding: 40px 0   27px;
                
                color: #DC56C5;
                font-size: 30px;
                font-weight: 900;
                line-height: 37px; 
                text-align: center; 
                
                }
                .container_header{
                    padding: 0 87px;
                    width: 768px;
                }
                }
    
    @media screen  and (min-width: 1280px) {
        .logo{
            width: 238.5px;
            height: 201px;
            padding-top: 40px;    
        }
        .logo_img{
            
            width: 136px;
            height: 68px;
            margin-left: -10px;
        } */
        /* .hero {
            height: 446px;
            background-image: url(../images/backDesk@1x.png);
            background-size: 100%;
        }
  
    .hero_title{
        
        display: inline-block;
        padding-top: 40px;
        width: 608px; 
        height: 190px;
        padding-bottom: 52px;
        font-family: inherit;
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        color: #DC56C5;
        
    }
   } */
/* форма  */

/* .container_header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 25px;
}
	@media screen and(min-width: 768px) and (max-width:1279px) {
  .container_header{
		padding: 0 87px;
		width: getRange(768px);
	}
}
@media screen  and (min-width: 1280px) {
  .container_header{
		padding: 0 175px;
		width: getRange(1280px);
	}
} */

	/* &.nopad {
		padding: 0;
	}
} */


  /* 




/* .searchInput{
  border: solid 1px #DC56C5;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: tomato;
  /* background-image: url(../images/search.svg) */



/* .span{
  display: block;
} */