.modal__back-drop.hidden {
  display: none;
}
.modal__back-drop {
  z-index: 1000;
  width: 100%;
  max-height: 100vh;
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.modal__window {
  width: 272px;
  padding: 17px;
  max-height: 98vh;
  margin-top: 1vh;
  border-radius: 120px 0px;
  animation-name: changeBgColor;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);

  @media screen and (min-width: 768px) {
    width: 580px;
    border-radius: 200px 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 780px;
    border-radius: 280px 0px;
    padding: 30px;
  }
}
@keyframes changeBgColor {
  0% {
    background-color: rgba(32, 13, 29, 0.6);
  }
  100% {
    background-color: #fff2fd;
  }
}
.modal__close-btn-container {
  display: flex;
  justify-content: right;
}
.modal__close-btn {
  width: 30px;
  height: 30px;
  line-height: 1;
}
.modal__close-btn-icon {
  position: relative;
  cursor: pointer;
}
.modal__close-btn-icon:last-child {
  top: -100%;
}
.modal__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 14px;
  }
}
.modal__icon img {
  border-radius: 50%;
  object-fit: cover;
  width: 110px;
  height: 110px;
  @media screen and (min-width: 768px) {
    width: 75px;
    height: 75px;
  }
  @media screen and (min-width: 1280px) {
    width: 100px;
    height: 100px;
  }
}
.modal__main-info {
  display: flex;
  justify-content: start;
  width: 100%;
}

.modal__main-info img {
  display: none;
  object-fit: cover;
  position: relative;
  animation-name: animationContentImg;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);

  @media screen and (min-width: 768px) {
    display: block;
    width: 233px;
    height: 360px;
  }
  @media screen and (min-width: 1280px) {
    width: 360px;
    height: 460px;
  }
}
@keyframes animationContentImg {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.modal__main-info h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #dc56c5;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.main-info-list {
  list-style: none;
  position: relative;
  text-align: center;
  animation-name: animationContentText;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  @media screen and (min-width: 768px) {
    width: 595px;
    border-radius: 300px 0px;
    text-align: left;
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 930px;
    border-radius: 300px 0px;
  }
}
.main-info-list p {
  margin-top: 5px;
  margin-bottom: 10px;
  max-height: 80px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
    max-height: 70px;
    font-size: 17px;
  }
}
@keyframes animationContentText {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.main-info-list a {
  text-decoration: none;
}
.buyTicketsBtn {
  padding: 2px;
  background-color: rgba(76, 0, 254, 1);
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  border-radius: 5px;
}
.buyTicketsBtn:hover {
  color: #ffffff;
  text-decoration: none;
}
.modal__more-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.authorInfoBtn {
  margin-top: 20px;
  padding: 6px 0;
  border: 1px solid #4c00fe;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.1;
  color: #4c00fe;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    padding: 6px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 16px;
  }
}
.authorInfoBtn:hover {
  color: #4c00fe;
  text-decoration: none;
}
