.modal__back-drop.hidden {
  display: none;
}
.modal__back-drop {
  z-index: 2;
  width: 100%;
  height: 100vh;
  /* top: -5vh; */
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__window {
  width: 930px;
  padding: 30px;
  height: auto;
  border-radius: 300px 0px;
  animation-name: changeBgColor;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
@keyframes changeBgColor {
  0% {
    background-color: rgba(32, 13, 29, 0.6);
  }

  100% {
    background-color: #fff2fd;
  }
}
.modal__close-btn-container {
  display: flex;
  justify-content: right;
}
.modal__close-btn {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 1;
}
.modal__close-btn-icon {
  position: relative;
  cursor: pointer;
}
.modal__close-btn-icon:last-child {
  top: -100%;
}
.modal__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.modal__icon img {
  border-radius: 50%;
  object-fit: cover;
  width: 144px;
  height: 144px;
}
.modal__main-info {
  display: flex;
  justify-content: start;
  width: 100%;
}

.modal__main-info img {
  object-fit: cover;
  width: 360px;
  height: 640px;
  position: relative;
  animation-name: animationContentImg;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
@keyframes animationContentImg {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.modal__main-info h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #dc56c5;
}
.main-info-list {
  list-style: none;
  margin-left: 60px;
  font-size: 22px;
  line-height: 1.22;
  position: relative;
  animation-name: animationContentText;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
@keyframes animationContentText {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.main-info-list a {
  text-decoration: none;
}
.buyTicketsBtn {
  width: 145px;
  padding: 2px;
  background-color: rgba(76, 0, 254, 1);
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
}
.buyTicketsBtn:hover {
  color: #ffffff;
  text-decoration: none;
}
.modal__more-btn {
  display: flex;
  justify-content: center;
}
.authorInfoBtn {
  width: 255px;
  margin: 45px;
  padding: 8px;
  border: 1px solid #4c00fe;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4c00fe;
  text-decoration: none;
}
.authorInfoBtn:hover {
  color: #4c00fe;
  text-decoration: none;
}
