body {
  height: 100%;
  color: $primary-text-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $modal-text-color;
  background-image: url(../images/background-body/noise-body.svg),
    url(../images/background-body/mobile/bg-body-mobile.svg);

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-body/noise-body.svg),
      url(../images/background-body/tablet/bg-body-tablet.svg);
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/background-body/noise-body.svg),
      url(../images/background-body/desktop/bg-body-desktop.svg);
    background-size: cover;
  }

  @media screen and (min-width: 1500px) {
    background-size: contain;
  }
  background-color: $primary-text-color;
  color: $modal-text-color;
}

body {
  background-color: $modal-text-color;
  // color: $primary-text-color;
}

.tui-pagination.dark-theme * {
  color: $primary-text-color;
}
